h1 {
    text-align: center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: #FF6437;
    margin-top: 0px;
    margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #FFAE96;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    h2 {
      color: white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 43px;
      margin-top: 15px;
      margin-bottom: 0px;
      margin-left: 450px;
    }
    h3 {
        color: #de7438;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 22px;
        margin-top: 50px;
        margin-left: 450px;
      }
    table, th, td {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:white;
        margin-left: 450px;
    }
    body{
        background-image: url(images/bg-image.jpg);
    }
    hr{
        color: #f0994b;
    }
    img{
        margin-left: 50px;
        margin-bottom: 10px;
        border-radius: 100%;
        }
/*     
    .left-side{
        display: ;
    } */
    .content-section{
        display: flex;
    }
